

body {
    background: rgb(0, 0, 0);
    font-family: Bai Jamjuree;
}
section {
    color: white;
    text-align: center;
    margin-right: 400px;
    margin-left: 400px;
}


footer {
    background-color: rgb(80, 11, 11);
    color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

footer p {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}
